## 0. Introduction
Objectif: r√©parer le dataset nettoy√© issu de l‚ÄôEDA pour la mod√©lisation.

## 1. Import & configuration

In [6]:
import sys
import pandas as pd
import seaborn as sns
from rich import print

pd.set_option("display.max_columns", None)
sns.set_theme(style="whitegrid")

sys.path.insert(0, "..")
from config import INTERIM_DATA_PATH, PROCESSED_DATA_PATH

print("[bold green]‚úÖ Dossiers de sortie et variables v√©rifi√©s.[/bold green]")

‚úÖ Dossiers de sortie et variables v√©rifi√©s.

## 2. Chargement du dataset

In [7]:
df = pd.read_csv(INTERIM_DATA_PATH)
print(
    f"[bold cyan]üì• Dataset charg√© :[/bold cyan] {df.shape[0]} lignes √ó {df.shape[1]} colonnes"
)

# V√©rification rapide
df.head()

üì• Dataset charg√© : 17342 lignes √ó 19 colonnes

,x,y,is_left_footed,game_away,start,minute,half,is_endgame,is_start,time_norm,distance,angle,is_left_side,n_attempts_before,success_rate_before,has_previous_attempts,wind_speed,precipitation_probability,resultat
0,12,66,0,0,493,8,1,0,0,0.10,41,34,1,0,0.5,0,1.3,0.02,1
1,70,72,0,0,1481,25,1,0,0,0.31,45,51,0,1,100.0,1,1.3,0.02,1
2,23,62,0,0,2011,34,1,0,0,0.42,40,18,1,2,100.0,1,1.3,0.02,1
3,51,85,0,0,2285,38,1,0,0,0.48,22,47,0,3,100.0,1,1.3,0.02,1
4,51,73,0,0,4495,75,2,0,0,0.94,31,31,0,4,100.0,1,1.3,0.02,0

## 3. Suppression des features inutiles ou redondantes

In [8]:
# Suppression de x et y de la liste des features
df = df.drop(columns=["x", "y"])

# Ne conserver que time_norm et supprimer toutes les autres colonnes li√©es au temps
time_cols_to_delete = ["start", "minute", "half"]
df = df.drop(columns=time_cols_to_delete)

# Redondance dans les features li√©es aux tentatives pr√©c√©dentes
df = df.drop(columns=["success_rate_before", "n_attempts_before"])

## 4. Normalisation des features num√©riques

In [9]:
# A d√©finir...

## 5. Sauvegarde du dataset pr√™t pour la mod√©lisation

In [10]:
df.to_csv(PROCESSED_DATA_PATH, index=False)
print(f"‚úÖ CSV enregistr√© : {PROCESSED_DATA_PATH}")

‚úÖ CSV enregistr√© : /Users/xaviercoulon/Documents/OC/OC_P6_Rugby_MLOps/data/processed/kicks_ready_for_model.csv